<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xmlns:jms="http://www.springframework.org/schema/jms"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd 
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms-3.0.xsd"
    default-autowire="byName">


    <!-- ActiveMQ 连接工厂 -->
    <bean id="connectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
    	<property name="brokerURL" value="discovery:(multicast://default)"/>
<!--     	<property name="brokerURL" value="tcp://192.168.1.216:61617"/> -->
    </bean>
    
	<!-- Spring Caching 连接工厂 -->
	<bean id="cachingConnectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
		<property name="targetConnectionFactory" ref="connectionFactory" />
		<property name="sessionCacheSize" value="10" />
	</bean>

    <!-- Spring JMS Template -->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="cachingConnectionFactory" />
        <property name="defaultDestinationName" value="defaultDestination" />
        <property name="explicitQosEnabled" value="true" /><!-- deliveryMode, priority, timeToLive 的开关，要生效，必须配置为true，默认false-->
        <property name="deliveryMode" value="2" /><!-- 发送模式  DeliveryMode.NON_PERSISTENT=1:非持久 ; DeliveryMode.PERSISTENT=2:持久-->
        <property name="sessionAcknowledgeMode" value="1" />   
		<!-- 消息应答方式  
	        Session.AUTO_ACKNOWLEDGE  消息自动签收  
	        Session.CLIENT_ACKNOWLEDGE  客户端调用acknowledge方法手动签收  
	        Session.DUPS_OK_ACKNOWLEDGE 不必必须签收，消息可能会重复发送  
        -->  
    </bean>
    
    <!-- Queue定义 -->
	<bean id="notifyQueue" class="org.apache.activemq.command.ActiveMQQueue">
		<constructor-arg value="queue.cxypub" />
	</bean>

	<!-- Topic定义 -->
	<bean id="notifyTopic" class="org.apache.activemq.command.ActiveMQTopic">
		<constructor-arg value="topic.cxypub" />
	</bean>
	
	 <!-- 使用Spring JmsTemplate的消息生产者 -->
	<bean id="notifyMessageProducer" class="com.cxypub.baseframework.sdk.jms.NotifyMessageProducer">
		<property name="jmsTemplate" ref="jmsTemplate" />
		<property name="notifyQueue" ref="notifyQueue" />
		<property name="notifyTopic" ref="notifyTopic" />
	</bean>
	
</beans>